h1{color:blue;}
h2{color:rgb(210, 160, 250) ;}
p{background-color:rgb(210, 199, 250);color:black ; front-family:georgina}
table{background-color:rgb(255, 199, 250); color:black;} 
ul{color: black; background-color:rgb(255, 170, 250);}
ol{color:black ; background-color: rgb(255, 170, 250);}
form{background-color: rgb(188, 143, 255); color:rgb(254, 180, 225); font-family:arial;}